#FILES FOR INTELLIJ IDEA AND OTHER IDEAS
#=======================
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/.idea/gradle.xml
**/.idea/modules.xml
**/.idea/deployment.xml
**/.idea/discord.xml
**/.idea/shelf
.idea/
.settings/

#MACOS
#=====================
.DS_Store
._.DS_Store
._.gitignore
._*
.AppleDouble
.LSOverride

#SYSTEM AND JAVA FILES
#=====================
Thumbs.db
debug.log
hs_err_pid*